---
import MaintenanceLayout from "../../layouts/MaintenanceLayout.astro";
---

<MaintenanceLayout
  title="Destiny"
  header="Destiny UI Endpoint - Work in Progress"
>
  <main class=""></main>
</MaintenanceLayout>
