---
import MaintenanceLayout from "../../layouts/MaintenanceLayout.astro";
---

<MaintenanceLayout
  title="Nezumi"
  header="Nezumi UI Endpoint - Work in Progress"
>
  <main class=""></main>
</MaintenanceLayout>
