---
import MaintenanceLayout from "../layouts/MaintenanceLayout.astro";
---

<MaintenanceLayout title="404" header="404 - Page not found">
  <main>
    <p>The requested page was not found.</p>
  </main>
</MaintenanceLayout>
