---
import MaintenanceLayout from "../layouts/MaintenanceLayout.astro";
---

<MaintenanceLayout title="About me" header="About me - Still work in progress">
  <main class=""></main>
</MaintenanceLayout>
