---
import MaintenanceLayout from "../layouts/MaintenanceLayout.astro";
---

<MaintenanceLayout
  title="My Projects"
  header="my Projects - Still work in progress"
>
  <main class=""></main>
</MaintenanceLayout>
